@main("Ebean的特性") {
    <div class="container">
        <h1 class="page-header">Ebean的特性如下：</h1>
        <fieldset>
            <legend></legend>
            <pre>

            1.简单易于学习和使用（简化hibernate，只有一个jar包）

            2.使用标准的JPA annotation，即： @@OneToMany等；

            3.提供Sessionless API，也就是说没有merge，flush等方法。（这也是Ebean与Hibernatet等ORM的重要区别之一）；

            4.通过Autofetch*进行自动查询调优；支持级联保存和删除。

            5.链式查询语言

            6.L1、L2 缓存

            7.集成Lucene文本搜索。
            </pre>
        </fieldset>
    </div>
}